div.blueTable {
    width: 100%;
  }
  .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 0px solid #AAAAAA;
    text-align: center;
    padding: 10px;
  }
  .divTable.blueTable .divTableHeading {
    }
  .divTable.blueTable .divTableHeading .divTableHead {
    font-weight: bold;
  }
  .blueTable .tableFootStyle {
    font-weight: bold;
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}

  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


  .btn_red {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b84c2b);
    background-image: -moz-linear-gradient(top, #d93434, #b84c2b);
    background-image: -ms-linear-gradient(top, #d93434, #b84c2b);
    background-image: -o-linear-gradient(top, #d93434, #b84c2b);
    background-image: linear-gradient(to bottom, #d93434, #b84c2b);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn_red:hover {
    background: #990000;
    background-image: -webkit-linear-gradient(top, #990000, #5e0000);
    background-image: -moz-linear-gradient(top, #990000, #5e0000);
    background-image: -ms-linear-gradient(top, #990000, #5e0000);
    background-image: -o-linear-gradient(top, #990000, #5e0000);
    background-image: linear-gradient(to bottom, #990000, #5e0000);
    text-decoration: none;
  }

  .btn_green {
    background: #0d9e00;
    background-image: -webkit-linear-gradient(top, #0d9e00, #1e7800);
    background-image: -moz-linear-gradient(top, #0d9e00, #1e7800);
    background-image: -ms-linear-gradient(top, #0d9e00, #1e7800);
    background-image: -o-linear-gradient(top, #0d9e00, #1e7800);
    background-image: linear-gradient(to bottom, #0d9e00, #1e7800);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn_green:hover {
    background: #135901;
    background-image: -webkit-linear-gradient(top, #135901, #013d01);
    background-image: -moz-linear-gradient(top, #135901, #013d01);
    background-image: -ms-linear-gradient(top, #135901, #013d01);
    background-image: -o-linear-gradient(top, #135901, #013d01);
    background-image: linear-gradient(to bottom, #135901, #013d01);
    text-decoration: none;
  }